### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_data_df = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data_df)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count= purchase_data['SN'].value_counts()

player_count = [{"Total Numbers of Players": player_count.count()}]

player_df = pd.DataFrame(player_count)
player_df

   Total Numbers of Players
0                       576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_item = purchase_data['Item ID'].value_counts()

avg_price = purchase_data['Price'].mean()

num_purchases = purchase_data['Purchase ID'].value_counts()

total_rev = purchase_data['Price'].sum()

purchases_df = pd.DataFrame(
            {"Numbers of Unique Items": [unique_item.count()],
            "Average Price": [avg_price],
             "Numbers of Players": [num_purchases.count()],
             "Total Revenue": [total_rev]
    })

# converting 'Average Price' and 'Total Revenue' into currency
purchases_df['Average Price'] = purchases_df.apply(lambda row: '$' 
                                                   + str(round(row['Average Price'],2)), axis=1)
purchases_df['Total Revenue'] = purchases_df.apply(lambda row: '$' 
                                                   + str(round(row['Total Revenue'],2)), axis=1)

purchases_df

   Numbers of Unique Items Average Price  Numbers of Players Total Revenue
0                      179         $3.05                 780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
unique_sn = purchase_data.drop_duplicates("SN")

gender_count = unique_sn["Gender"].count()


male_count = unique_sn.loc[unique_sn["Gender"] == "Male", :]
male_gen_count = male_count["Gender"].count()
male_gen_count

percent_m = male_gen_count / gender_count
# percent_m



female_count = unique_sn.loc[unique_sn["Gender"] == "Female", :]
female_gen_count = female_count["Gender"].count()
# female_gen_count

percent_f = female_gen_count / gender_count
# percent_f



OND_count = unique_sn.loc[unique_sn["Gender"] == "Other / Non-Disclosed", :]
OND_gen_count = OND_count["Gender"].count()
# OND_gen_count

percent_OND = OND_gen_count / gender_count
# percent_OND


total_gender_count = pd.DataFrame(
                                {"Total Count": [male_gen_count, female_gen_count, OND_gen_count], 
                                 "Percentage of Players": [percent_m, percent_f, percent_OND]
                                }, ["Male", "Female", "Other / Non-Disclosed"])
total_gender_count = total_gender_count.style.format({"Percentage of Players": "{:,.2%}".format})

total_gender_count


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_count = purchase_data["Purchase ID"].count()
# purchase_count

#Purchase count by gender
male_pc = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_pc = male_pc["Gender"].count()
# male_pc

female_pc = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_pc = female_pc["Gender"].count()
# female_pc

OND_pc = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
OND_pc = OND_pc["Gender"].count()
# OND_pc

#Average Purchase Price by gender
male_app = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_app = male_app["Price"].mean()
# male_app

female_app = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_app = female_app["Price"].mean()
# female_app

OND_app = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
OND_app = OND_app["Price"].mean()
# OND_app

#Total Purchase Value by gender
male_tpv = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_tpv = male_tpv["Price"].sum()
# male_tpv

female_tpv = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_tpv = female_tpv["Price"].sum()
# female_tpv

OND_tpv = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
OND_tpv = OND_tpv["Price"].sum()
# OND_tpv

#Average Total Purchase per Person by gender
male_avg_pp = male_tpv / male_gen_count
# male_avg_pp

female_avg_pp = female_tpv / female_gen_count
# female_avg_pp

OND_avg_pp = OND_tpv / OND_gen_count
# OND_avg_pp


#Table
total_gender_purchases = pd.DataFrame(
                                {"Purchase Count": [male_pc, female_pc, OND_pc], 
                                 "Average Purchase Price": [male_app, female_app, OND_app],
                                 "Total Purchase Value": [male_tpv, female_tpv, OND_tpv],
                                 "Avg Total Purchase per Person": [male_avg_pp, female_avg_pp, OND_avg_pp]
                                }, ["Male", "Female", "Other / Non-Disclosed"])

total_gender_purchases["Average Purchase Price"] = total_gender_purchases.apply(lambda row: '$' 
                                                   + str(round(row["Average Purchase Price"],2)), axis=1)
total_gender_purchases["Total Purchase Value"] = total_gender_purchases.apply(lambda row: '$' 
                                                   + str(round(row["Total Purchase Value"],2)), axis=1)
total_gender_purchases["Avg Total Purchase per Person"] = total_gender_purchases.apply(lambda row: '$' 
                                                   + str(round(row["Avg Total Purchase per Person"],2)), axis=1)
total_gender_purchases

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.2,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

group_labels = [ "<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [7]:
purchase_data["View Age Group"] = pd.cut(purchase_data["Age"], bins, labels= group_labels, include_lowest= False, right= True)

In [8]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,View Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [9]:
purchase_data["SN"].nunique()

576

In [10]:
unique_sn_AG = purchase_data.drop_duplicates("SN")

age_data = unique_sn_AG.groupby("View Age Group").count()["Age"]
age_data

View Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Age, dtype: int64

In [11]:
age_data_percent = age_data / purchase_data["SN"].nunique()
age_data_percent

View Age Group
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: Age, dtype: float64

In [12]:
age_data_df = pd.DataFrame({"Total Count": age_data,
                             "Percentage of Players": age_data_percent})

age_data_df = age_data_df.style.format({"Percentage of Players": "{:,.2%}".format})
age_data_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,View Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [14]:
purchase_count = purchase_data.groupby("View Age Group").count()["SN"]
purchase_count

View Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [15]:
avg_pp= purchase_data.groupby("View Age Group").mean()["Price"]
avg_pp

View Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [16]:
total_purchase = purchase_data.groupby("View Age Group").sum()["Price"]
total_purchase

View Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [17]:
avg_purchase_per = total_purchase / age_data
avg_purchase_per

View Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [18]:
bins_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_pp,
                         "Total Purchase Value": total_purchase,
                        "Average Total Purchase per Person": avg_purchase_per})

bins_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
View Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [19]:
bins_df["Average Purchase Price"] = bins_df["Average Purchase Price"].map("${:.2f}".format)
bins_df["Total Purchase Value"] = bins_df["Total Purchase Value"].map("${:.2f}".format)
bins_df["Average Total Purchase per Person"] = bins_df["Average Total Purchase per Person"].map("${:.2f}".format)

In [20]:
bins_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
View Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,View Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [22]:
purchase_count_sn = purchase_data.groupby("SN").count()["Price"]
purchase_count_sn.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Price, dtype: int64

In [23]:
avg_purch_price = purchase_data.groupby("SN").mean()["Price"]
avg_purch_price.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [24]:
total_purch_price = purchase_data.groupby("SN").sum()["Price"]
total_purch_price.head()

SN
Adairialis76    2.28
Adastirin33     4.48
Aeda94          4.91
Aela59          4.32
Aelaria33       1.79
Name: Price, dtype: float64

In [25]:
user_purch = pd.DataFrame({"Purchase Count": purchase_count_sn,
                           "Average Purchase Price": avg_purch_price,
                            "Total Purchase Value": total_purch_price})
user_purch.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

In [26]:
sorted_purch = user_purch.sort_values(by='Total Purchase Value', ascending=False)

In [27]:

sorted_purch["Average Purchase Price"] = sorted_purch["Average Purchase Price"].map("${:.2f}".format)
sorted_purch["Total Purchase Value"] = sorted_purch["Total Purchase Value"].map("${:.2f}".format)
sorted_purch.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,View Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [29]:
item_count = purchase_data.groupby("Item ID").count()["Item Name"]
item_count

Item ID
0       4
1       4
2       6
3       6
4       5
       ..
178    12
179     6
181     5
182     3
183     3
Name: Item Name, Length: 179, dtype: int64

In [30]:
item_total_cost = purchase_data.groupby("Item ID").sum()["Price"]
item_total_cost

Item ID
0       5.12
1      11.77
2      14.88
3      14.94
4       8.50
       ...
178    50.76
179    26.88
181     8.30
182    12.09
183     3.27
Name: Price, Length: 179, dtype: float64

In [31]:
item_cost = purchase_data.groupby("Item ID").mean()["Price"]
item_cost

Item ID
0      1.2800
1      2.9425
2      2.4800
3      2.4900
4      1.7000
        ...
178    4.2300
179    4.4800
181    1.6600
182    4.0300
183    1.0900
Name: Price, Length: 179, dtype: float64

In [32]:
item_name = purchase_data.groupby("Item ID")
item_n = item_name["Item Name"].agg(lambda column: "".join(column))
item_n

Item ID
0                       SplinterSplinterSplinterSplinter
1                       CruciferCruciferCruciferCrucifer
2             VerdictVerdictVerdictVerdictVerdictVerdict
3      PhantomlightPhantomlightPhantomlightPhantomlig...
4      Bloodlord's FetishBloodlord's FetishBloodlord'...
                             ...
178    Oathbreaker, Last Hope of the Breaking StormOa...
179    Wolf, Promise of the MoonwalkerWolf, Promise o...
181    Reaper's TollReaper's TollReaper's TollReaper'...
182                          ToothpickToothpickToothpick
183    Dragon's GreatswordDragon's GreatswordDragon's...
Name: Item Name, Length: 179, dtype: object

In [33]:
item_df = pd.DataFrame({
                         "Item Name": item_n,
                        "Purchase Count": item_count,
                        "Item Price": item_cost,
                        "Total Purchase Value": item_total_cost
                       })

In [36]:
item_df["Item Price"] = item_df["Item Price"].map("${:.2f}".format)
item_df["Total Purchase Value"] = item_df["Total Purchase Value"].map("${:.2f}".format)
item_df

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
0,SplinterSplinterSplinterSplinter,4,$1.28,$5.12
1,CruciferCruciferCruciferCrucifer,4,$2.94,$11.77
2,VerdictVerdictVerdictVerdictVerdictVerdict,6,$2.48,$14.88
3,PhantomlightPhantomlightPhantomlightPhantomlig...,6,$2.49,$14.94
4,Bloodlord's FetishBloodlord's FetishBloodlord'...,5,$1.70,$8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking StormOa...",12,$4.23,$50.76
179,"Wolf, Promise of the MoonwalkerWolf, Promise o...",6,$4.48,$26.88
181,Reaper's TollReaper's TollReaper's TollReaper'...,5,$1.66,$8.30
182,ToothpickToothpickToothpick,3,$4.03,$12.09
183,Dragon's GreatswordDragon's GreatswordDragon's...,3,$1.09,$3.27

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame